doctype html
html
	head
		title=title
		link(href="/css/main.css",rel="stylesheet")
	body
		h1=title
		img(src="/img/logo.png",alt="GooDesign.in.th",title="GooDesign.in.th")

		if isLoggedIn
			h3 You are logged in
			form(name="logout",method="post",action="logout")
				div
					input(type="submit",value="Logout")
		else
			form(name="login",method="post",action="login")
				div
					label(for="email") Email
					input(name="email",type="email",placeholder="youremail@email.com")
				div
					label(for="password") Password
					input(name="password",type="password",placeholder="password")
				div
					input(name="remember",type="checkbox",value="remember")
					| Remember me
				div
					input(type="submit",value="Login")
		//
			h2 5+10
			h2=5+10
			if 10>2
				p 10>2 is true
			else
				p 10>2 is false
			p. 
				If u want to show many line, 
				you can push dot after syntax like this